:root {
    --tpd-orange: #ff6600;
    --white: #FFF;
    --green: #00a15d;
    --red: #c21818;
}

#animation_container {
    height: 110px;
    background: #323232;
    /* padding: 0px 2px; */
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    overflow: hidden;
}

#animation_container #running_order {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
}

#animation_container #race_status {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--tpd-orange);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 0 0 25px var(--tpd-orange);
    font-style: italic;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

#animation_container #progress_bar_wrapper {
    height: 6px;
    border-radius: 1px;
    overflow: hidden;
    background-color: var(--tpd-orange);
    position: relative;
}

#animation_container #progress_marker {
    background-color: var(--green);
    width: 0%;
    height: 100%;

    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}

#animation_container #par_marker,
#animation_container #jumps_marker .jumps_marker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 6px;
    background-color: var(--white);
    z-index: 100;
    border-radius: 1px;

    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}

#animation_container #jumps_marker .jumps_marker {
    background-color: var(--white);
}

#animation_container #logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px 0 4px 0;
}

#animation_container #race_course_name {
    color: white;
    font-size: 0.7rem;
    margin: 0 0 0 3px;
}

#animation_container #race_course_name span {
    font-weight: 700;
}

#animation_container #tpd_logo svg {
    width: 85px;
}

#animation_container #race_course_logo img {
    height: 28px;
}

#animation_container #finish_post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#animation_container #total_runners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--white);
    line-height: 15px;
}

#animation_container #total_runners_number {
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 2px;
    line-height: 2px;
}

#animation_container #info_box {
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 74px;
    margin: 0 4px 0 0;
}

#animation_container #velocity {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: var(--tpd-orange);
    text-align: center;
    line-height: 0.85;
}

#animation_container #velocity_value {
    font-variant: tabular-nums;
}

#animation_container #velocity_format {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    color: var(--white);
    font-style: normal;
}

#animation_container #distance {
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
}

#animation_container #distance_value {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    font-style: normal;
}

#animation_container #runtime {
    line-height: 0.75;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
}

#animation_container #runtime_format {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    color: var(--white);
    font-style: normal;
}


#animation_container #runners_section {
    overflow: hidden;
    position: relative;
    margin: 4px 6px 3px 1px;
    flex: 1;
}

#animation_container .runner {
    position: absolute;
    right: 0;
    overflow: hidden;
    border-radius: 2px;
    width: 73px;
    height: 100%;
    /* color: white; */
    z-index: 460;
    /* transition: all 2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;*/
    display: flex;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    transition-duration: 2s;
}

#animation_container .runner_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}

#animation_container .runner_corner {
    width: 100%;
    height: 21px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    background: white;
    box-shadow: 0px -10px 10px 7px #000000b4;
    display: flex;
    color: #000;
    justify-content: space-between;
}

#animation_container .length_behind {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 2px 0 0 2px;
}

#animation_container .runner_number {
    font-weight: 500;
    font-size: 17px;
    margin: 1px 1px 1px 0;
    border: 1px solid #000;
    border-radius: 2px;
    background: #fff;
    width: 25px;
    text-align: center;
    line-height: 17px;
}

#animation_container .runner_silk {
    flex: 1;
    margin: 3px 0 0 0;
    display: flex;
    align-items: center;
    transform: scale(1.25);
}

#animation_container .runner_silk img {
    border-radius: 5px;
}

#animation_container .runner_info_container {
    position: relative;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.75);
    width: calc(100% - 4px);
    box-shadow: 0 3px 8px -2px #000000b4;
    height: 20px;
    margin: 0 0 2px 0;
}

#animation_container .runner_info_container div {
    font-size: 0.9rem;
    text-align: center;
    text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3);
}

#animation_container .runner_info {
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation_container .runner_loaded {
    position: absolute;
    left: 5px;
    bottom: 1.5px;
    height: 1px;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(145, 255, 0);
    display: none;

    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#sharecode {
    width: 30em;
}

#title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#list {
    position: absolute;
    border: 1px solid #00000060;
    max-height: 30em;
    background-color: #FFF;
    left: 0;
    width: 100%;
    box-shadow: 0 0.5em 0.5em #00000010;
    display: none;
    margin-top: -1px;
    z-index: 9999;
    overflow: auto;
}

#list a {
    padding: 0.2em 0.5em 0.2em 1.5em;
    border-bottom: 1px solid #00000010;
    text-align: left;
    cursor: pointer;
    font-size: 0.9em;
    background-position: 2px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: block;
    text-decoration: none;
    color: #000;
}

#list a.live {
    font-weight: bold;
    background-image: url('data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 20.75H6C5.27065 20.75 4.57118 20.4603 4.05546 19.9445C3.53973 19.4288 3.25 18.7293 3.25 18V6C3.25 5.27065 3.53973 4.57118 4.05546 4.05546C4.57118 3.53973 5.27065 3.25 6 3.25H14.86C15.0589 3.25 15.2497 3.32902 15.3903 3.46967C15.531 3.61032 15.61 3.80109 15.61 4C15.61 4.19891 15.531 4.38968 15.3903 4.53033C15.2497 4.67098 15.0589 4.75 14.86 4.75H6C5.66848 4.75 5.35054 4.8817 5.11612 5.11612C4.8817 5.35054 4.75 5.66848 4.75 6V18C4.75 18.3315 4.8817 18.6495 5.11612 18.8839C5.35054 19.1183 5.66848 19.25 6 19.25H18C18.3315 19.25 18.6495 19.1183 18.8839 18.8839C19.1183 18.6495 19.25 18.3315 19.25 18V10.29C19.25 10.0911 19.329 9.90032 19.4697 9.75967C19.6103 9.61902 19.8011 9.54 20 9.54C20.1989 9.54 20.3897 9.61902 20.5303 9.75967C20.671 9.90032 20.75 10.0911 20.75 10.29V18C20.75 18.7293 20.4603 19.4288 19.9445 19.9445C19.4288 20.4603 18.7293 20.75 18 20.75Z" fill="%23000000"/><path d="M10.5 15.25C10.3071 15.2352 10.1276 15.1455 10 15L7.00001 12C6.93317 11.86 6.91136 11.7028 6.93759 11.5499C6.96382 11.3971 7.03679 11.2561 7.14646 11.1464C7.25613 11.0368 7.3971 10.9638 7.54996 10.9376C7.70282 10.9113 7.86006 10.9331 8.00001 11L10.47 13.47L19 4.99998C19.14 4.93314 19.2972 4.91133 19.4501 4.93756C19.6029 4.96379 19.7439 5.03676 19.8536 5.14643C19.9632 5.2561 20.0362 5.39707 20.0624 5.54993C20.0887 5.70279 20.0669 5.86003 20 5.99998L11 15C10.8724 15.1455 10.693 15.2352 10.5 15.25Z" fill="%23000000"/></svg>')
}

#list a.demo {
    background-image: url('data:image/svg+xml,<svg fill="%23000000" width="800px" height="800px" viewBox="0 0 24 24" id="Outline" xmlns="http://www.w3.org/2000/svg"><title>194 restore</title><path d="M12,6a1,1,0,0,0-1,1v5a1,1,0,0,0,.293.707l3,3a1,1,0,0,0,1.414-1.414L13,11.586V7A1,1,0,0,0,12,6ZM23.812,10.132A12,12,0,0,0,3.578,3.415V1a1,1,0,0,0-2,0V5a2,2,0,0,0,2,2h4a1,1,0,0,0,0-2H4.827a9.99,9.99,0,1,1-2.835,7.878A.982.982,0,0,0,1,12a1.007,1.007,0,0,0-1,1.1,12,12,0,1,0,23.808-2.969Z"/></svg>');
}

#list a:hover,
#list a.selected {
    background-color: #ff6600;
}

#list a .sc {
    font-size: 0.5em;
    color: #999;
}


@keyframes blinkMe {
    0% {
        border-radius: 4px;
        background-color: transparent;
    }

    50% {
        border-radius: 4px;
        background-color: var(--red);
    }

    100% {
        border-radius: 4px;
        background-color: transparent;
    }
}

@keyframes flashGreen {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }

    50% {
        background-color: var(--green);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

@keyframes flashRed {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }

    50% {
        background-color: var(--red);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}