:root {
    --tpd-orange: #ff6600;
    --white: #FFF;
    --green: #00a15d;
    --red: #c21818;
}


#container {
    display: flex;
    width: 100%;
    gap: 10px;
}

#tbl {
    border-collapse: collapse;
    border-spacing: 0;
    width: 600px;
}

#tbl td, #tbl th  {
    padding: 2px;
    margin: 0;
    border: 1px solid #000;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #FFF;
}

#map {
    height: 600px;
    width: 600px;
    border: 2px solid #aaa;
}

.map_marker {
    width: 22px;
    height: 16px;
    line-height: 13px;
    font-weight: 600;
    border-radius: 4px;
    padding: 0;
    background: #FFF;
    text-align: center;
    border: 2px solid;
    color: #000;
}

.start_point {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #FFF;
    border: 2px solid #000;
}

.start_point.LG {
    background: #00a15d;
    border: 2px solid #00a15d;
}

.start_point.LD {
    background: #c21818;
    border: 2px solid #c21818;
}

.start_point.AP {
    background: #ff6600;
    border: 2px solid #ff6600;
}

.silks_1 {
    background: red;
    color: white;
    border-color: white;
  }
  .silks_2 {
    background: white;
    color: black;
    border-color: black;
  }
  .silks_3 {
    background: blue;
    color: white;
    border-color: white;
  }
  .silks_4  {
    background: yellow;
      border-color: black;
  }
   .silks_5 {
     background: green;
     color: white;
     border-color: white;
  }
   .silks_6 {
     background: black;
     color: yellow;
     border-color: yellow;
  }
   .silks_7 {
     background: orange;
     border-color: black;
  }
   .silks_8 {
     background: pink;
     border-color: black;
  }
   .silks_9 {
     background: turquoise;
     border-color: black;
  }
   .silks_10 {
     background: purple;
     color: white;
      border-color: white;
  }
   .silks_11 {
     background: gray;
     color: red;
     border-color: red;
  }
   .silks_12 {
     background: lime;
     border-color: black;
  }
   .silks_13 {
     background: brown;
     color: white;
     border-color: white;
  }
   .silks_14 {
     background: maroon;
     color: yellow;
     border-color: yellow;
  }
   .silks_15 {
     background: khaki;
     border-color: black;
  }
   .silks_16 {
     background: lightblue;
     color: orange;
     border-color: orange;
  }
   table .silks_17 {
     background: navy;
     color: white;
     border-color: white;
  }
   .silks_18 {
     background: forestgreen;
     color: yellow;
     border-color: yellow;
  }
   .silks_19 {
     background: #374286;
     color: red;
     border-color: red;
  }
   .silks_20 {
     background: fuchsia;
     color: yellow;
     border-color: yellow;
  }
   .silks_21 {
     background: lavender;
     color: navy;
     border-color: navy;
  }
   .silks_22 {
     background: #10446d;
     color: white;
     border-color: white;
  }
    .silks_23 {
     background: #bdd6cd;
     color: darkgreen;
     border-color: bldarkgreenack;
  }
  .silks_24 {
      background: olive;
      color: white;
      border-color: white;
  }