body {
    margin: 0;
    background-color: #222;
    color: #DDD;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

#container {
    position: relative;
}

@keyframes animate-up-in {
    0% {
        margin-top: 3em;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}



h1 {
    color: #E68000;
    -webkit-filter: drop-shadow(0px 0px 10px #000000);
    filter: drop-shadow(0px 0px 10px #000000);
    position: absolute;
    top: 0em;
    font-size: 3em;
    margin: 0;
    user-select: none;
    animation: animate-up-in 1.5s ease-in-out;
    line-height: 6rem;
    right: .2em;
}

h1 .version {
    position: absolute;
    font-size: 8px;
    color: #FFF;
    right: -2em;
    top: -1em;
    opacity: 0.2;
    font-weight: normal;
    display: none;
}

#logo {
    width: 20em;
    position: fixed;
    top: -5em;
    right: -0.2em;
    z-index: -1;
    color: #000000;
    opacity: 0.3;
}

#races {
    display: table;
    font-size: 1.3em;
    flex-direction: column;
    box-shadow: 0 0 2em #000;
    margin: 3.3em 0 0 0;
    padding: 0;
    min-width: 40em;
    transition: all 1s ease-in-out;
    background-color: #000;
    position: relative;
    border: 1px solid #000;
    z-index: 88;
    min-height: 6em;
}

#races.empty::before {
    position: absolute;
    top: 0.7em;
    left: 0;
    width: 100%;
    color: #333;
    font-size: 2em;
    content: 'Nothing to show';
    text-align: center;
}


#races .race {
    display: table-row;
    flex-direction: row;
    background: linear-gradient(0deg, #333 0%, #080808 1px, #111 25%, #111 100%);
    color: #666;
    font-weight: normal;
    position: relative;
}

#races .race>div {
    padding: 0.9em 0.5em;
    display: table-cell;
    vertical-align: middle;
}

#races .race .time {
    width: 2em;
}

#races .race .country {
    width: 0.8em;
    padding: 4px;
}

#races .race .name {
    width: auto;
    white-space: nowrap;
}

#races .race .status {
    min-width: 5em;
    filter: brightness(0.4);
    text-transform: capitalize;
    position: relative;
}


#races .race .progress {
    min-width: 6em;
    position: relative;
    padding: 0.2em;
    text-align: center;
}

#races .race .progress::before,
#races .race .progress::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--perc);
    height: 4px;
    bottom: 6px;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

#races .race[status="running"] .progress::after,
#races .race[status="loading"] .progress::after {
    border-radius: 2px;
    width: 100%;
}

#races .race[status="running"] .progress::after {
    background-color: #030;
}

#races .race[status="loading"] .progress::after {
    background-color: #412300;
}

#races .race[status="waiting"] {
    color: #DDD;
}

#races .race[status="warning"] {
    color: #F00;
}

#races .race[status="canceled"] {
    color: #900;
}

#races .race[status="running"] {
    font-weight: bold;
    color: #0D0;
}

#races .race[status="running"] .progress::before {
    background-color: #0D0;
    z-index: 42;
}


#races .race[status="loading"] {
    color: #E68000;
    font-weight: bold;
}

#races .race[status="loading"] .progress::before {
    background-color: #E68000;
    z-index: 42;
}

#races .race[status="finished"] {
    color: #666;
}

#races .race[status="deleted"] {
    --display: none;
}

#races .race[status="finished"] .country {
    opacity: 0.4;
}

#races .race[status="live"] {
    color: #FFF;
    font-weight: bold;
}

#countries {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0.5em;
    top: 3em;
    z-index: 1;
    transition: all 0.5s ease-in-out;

}

#countries li {
    height: 2em;
    width: 2em;
    display: inline-block;
    cursor: pointer;
    margin: 0 0.4em;
    filter: grayscale(1);
    opacity: 0.3;
}

#countries:hover {
    top: 1.5em;
}

#countries li.shown {
    filter: grayscale(0);
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    body {
        display: block;
        padding: 0;
    }

    #countries {
        top: -3em;
        left: 0;
    }

    #countries:hover {
        top: -3em;
    }

    #logo {
        display: none;
    }

    #races {
        width: 99%;
        min-width: auto;
        box-shadow: none;
        margin: 3em 0;
    }

    h1 {
        font-size: 2em;
        top: -2.5em;
    }

    #races .race .name {
        white-space: unset;
    }
}